<!DOCTYPE html>

{%extends 'reporting/index.html'%}

{%block body_block%}

    <div class="row">
        <div class="col-5">
            <table class="table">
                <h1>ALL COURSES</h1>
                <tr>
                    <td>cousrse name</td>
                    <td>status</td>
                    <td>action</td>

                </tr>
                <tr>
                    {%for course in courses%}
                    <td>{{course.course_name}}</td>

                    <td>{{course.is_active}}</td>
                    <td>
                        <a href="{%url 'courseupdate' course.id %}" class="btn btn-primary">EDIT</a>
                    </td>

                </tr>
                {%endfor%}
            </table></div>
        <div class="col-2"></div>
        <div class="col-5">
            <h1>ADD COURSES</h1>
            <form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-success form-control" >ADD COURSE</button>
</form>

        </div>
{%endblock%}
</html>