<!DOCTYPE html>
{%extends 'reporting/index.html'%}
{%block body_block%}
    <div class="row">
        <div class="col-5">
            <h1>user names</h1>
            <table class="table border ">
                <tr>
                    <td>sl.no</td>
                    <td>users</td>
                    <td>role</td>
                    <td>action</td>
                </tr>
                {%for use in users%}
                <tr>
                    <td>{{use.id}}</td>
                    <td>{{use.email}}</td>
                    <td>{{use.roll}}</td>
                    <td>
                        <a href="{%url 'userupdate' use.id %}" class="btn btn-success">edit</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <h1>add a new user</h1>
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-success form-control">ADD USER</button>
            </form>

        </div>

    </div>
{%endblock%}
</html>